name: Tag affected Nx projects

on:
  push:
    branches:
      - main
env:
  BEFORE_SHA: ${{ github.event.before }}
jobs:
  tag:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.TOKEN }}
      - name: Install dependencies
        run: npm install

      - name: Tag affected projects
        run: |
          for project in $(npx nx print-affected --base=$BEFORE_SHA --select=projects --plain | tr ',' ' '); do
            echo 'PROJECT': $project
            commit=$(git rev-parse --short HEAD)
            tag="$project-$commit"
            git tag $tag HEAD
          done
          git push --tags
