name: Tag affected Nx projects

on:
  push:
    branches:
      - main

jobs:
  tag:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.TOKEN }}
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3

      - name: Install dependencies
        run: npm install

      - name: Tag affected projects
        run: |
          for project in $(npx nx print-affected --select=projects --plain | tr ',' ' '); do
            echo 'PROJECT': $project
            commit=$(git rev-parse --short HEAD)
            tag="$project-$commit"
            git tag $tag HEAD
          done
          git push --tags
